label{
    margin-bottom: 0px;
    display: block;
    font-weight: 500;
    margin-left: 5px;
    font-size: 12px;
}
.error{
    font-size: 14px;
    padding-left: 4px;
}
.calendar-wrapper .fc-button-primary:not(:disabled):hover, .calendar-wrapper .fc-button-primary:not(:disabled).fc-button-active{
    /* background-color :  rgb(128 93 202) !important; */

    background-color: rgb(33 150 243) !important;

    border: none !important;
}

